*{
    margin: 0;
    padding: 0;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    /* background-color: aqua; */
}

/* shared style */
.flex {
    display: flex;
}

/* button style */
.btn{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 35px;
}

/* nav bar css style  */
.nav-bar {
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
}
.nav-bar .nav-left{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
.menu-container{
    /* max-width: 463px; */
    justify-content: space-around;
}
.menu{
   gap: 34px;
}

.menu-container .menu li{
  list-style-type: none;
}
.menu-container .menu li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.banner-container{
    max-width: 1188px;
    margin: 0 auto;
    gap: 133px;
    
}
.banner-details h1{
    font-size: 52px;
    color: #3A3A3A;
    font-weight: 800;
    margin-bottom: 16px;
}
.banner-details p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-photo img{
    max-width: 440px;
    max-height: 414px;
   

}
.banner-photo{
    background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (max-width:576px) {
    .nav-bar {
    flex-direction: column;
    }
}
